.lara_hidden{
    display: none;
}

.failed_deployment{
    background-color: indianred;
}

pre.console{
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    clear: both;
    color: #fff;
    background: #1b1b1b;
    padding: 0;
    word-break: normal;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative;
    line-height: 28px;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    direction: ltr;
}

.dir-ltr{
    direction: ltr;
}
